html{
  background-color: rgb(210, 221, 230);
}
.App{
  font-family: NotoSansCJKkr-Medium;
}
*:focus { outline:none; }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
